$paddingButton : 15px;
$borderRadius : 10px;
$mainTextColour : black;
$whiteBackground: white;
$websiteBackground: cornflowerblue;
$boldFont : bold;

body{
    font-family: Georgia;
    background-color: $websiteBackground;
}

nav{
    ul li a{
        color: $mainTextColour;
        text-decoration: none;

    }
    ul li{
        list-style-type: none;
        display: inline;
        padding: $paddingButton;
        margin: 5px;
        border-radius: $borderRadius;
    }

}

.active {
    color :$mainTextColour;
    font-weight: $boldFont;

}

.btn-outline-success{
    border-color: $websiteBackground;
    color: $websiteBackground;
    /*change hover background colour and hover border colour*/
}

.btn-primary{
    border-color: $websiteBackground;
    background-color: $whiteBackground;
    color: $mainTextColour;
   /*might need to change this*/
}

.internalLink{
    text-decoration: none;
    color: $mainTextColour;
    font-weight: $boldFont;
    margin-bottom: 200px;
    text-align: left;
    background-color: lightskyblue;
    padding: $paddingButton;
    border-radius: $borderRadius;
}


#application{
    background-color: $whiteBackground;
    margin-top: 15px;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 15px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-right: 20%;
    padding-left: 20%;
    border: solid darkorange;
    min-height: 500px;
}

.required{
    font-weight: $boldFont;
    color: red;
}

#aside {
    
    border: 2px solid darkorange;
    background-color: lightskyblue;
    padding-right: 10px;
    margin-top: 48px;
    margin-bottom: 25px;
    list-style-type: square;
}

.card{
    margin-top: 10px;
    margin-bottom: 10px;
}

footer{
    background-color: lightgray;
    color: $mainTextColour ;
}

header{
    background-image: url(../images/headerimage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    color: $mainTextColour;
    text-align: left;
    padding-top: 2px;
}



.carousel-inner{
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

/*.cards-wrapper{
    display: flex;
}*/

