<!doctype html>
<html lang="en">
  <head>
   
  </head>
  <body>
 
    

      <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h2>Recent Updates</h2>
          </div>
        </div>
      </div>

      <!--Carousel for mobile-->

    <div class="container">
      <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/germanshepard.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Sammy</h5>
          <p class="card-text">The German Shepherd,[a] also known in Britain as an Alsatian, is a German breed of working dog of medium to large size. The breed was developed by Max von Stephanitz using various traditional German herding dogs from 1899. It was originally bred as a herding dog, for herding sheep. It has since been used in many other types of work, including disability assistance, search-and-rescue, police work, and warfare. It is commonly kept as a companion dog, and according to the Fédération Cynologique Internationale had the second-highest number of annual registrations in 2013.[3] During the 1890s, attempts were being made to standardise dog breeds.[4] Dogs were being bred to preserve traits that assisted in their job of herding sheep and protecting their flocks from predators.[5] In Germany this was practised within local communities, where shepherds selected and bred dogs. It was recognised that the breed had the necessary skills for herding sheep, such as intelligence, speed, strength and keen sense of smell.[5] The results were dogs that were able to do such things, but that differed significantly, both in appearance and ability, from one locality to another.[4]</p>
          <a href="#" class="btn btn-primary" href="https://en.wikipedia.org/wiki/German_Shepherd">Click here to read the full story!</a>
          </div>
        </div>
      </div>
   

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/kittens.jpeg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Kittens Found in Shed</h5>
          <p class="card-text">A kitten is a juvenile cat. After being born, kittens display primary altriciality and are fully dependent on their mothers for survival. They normally do not open their eyes for seven to ten days. After about two weeks, kittens develop quickly and begin to explore the world outside their nest. After a further three to four weeks, they begin to eat solid food and grow baby teeth. Domestic kittens are highly social animals and usually enjoy human companionship. The word "kitten" derives from the Middle English word kitoun, which in turn came from the Old French chitoun or cheton.[1] Juvenile big cats are called "cubs" rather than kittens; either term (but usually more commonly "kitten") may be used for the young of smaller wild felids, such as ocelots, caracals, and lynxes.[2] A feline litter usually consists of two to five kittens,[3] but litters with one to more than ten are known.[4] Kittens are typically born after a gestation lasting between 64 and 67 days, with an average length of 66 days.[3] When they are born, kittens emerge in a sac called the amnion, which is bitten off and eaten by the mother cat.</p>
          <a href="#" class="btn btn-primary" href="https://en.wikipedia.org/wiki/Kitten">Click here to read the full story!</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/meetup.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Annual Dog Park Meetup Fundraiser</h5>
          <p class="card-text">A dog park is a park for dogs to exercise and play off-leash in a controlled environment under the supervision of their owners. Dog parks have varying features, although they typically offer a 4-to-6-foot (1.2 to 1.8 m) fence, separate double-gated entry and exit points, adequate drainage, benches for humans, shade for hot days, parking close to the site, water, pooper-scooper to pick up and dispose of animal waste in covered trash cans, and regular maintenance and cleaning of the grounds. However, it is a norm to pick up after one's own dog. Dog parks may also offer wheel-chair access, a pond for swimming and a separate enclosure for small dogs. Some dog parks have separate play spaces for large and small dogs. Others have one large area for dogs of all sizes. There is debate about this issue, as some argue that dogs should be segregated by size,[1] while others feel that dogs of all sizes can and should socialize together.</p>
          <a href="#" class="btn btn-primary" href="https://en.wikipedia.org/wiki/Dog_park">Click here to read the full story!</a>
          </div>
        </div>
      </div> 
    </div>
  </div>

<!--Need to fix-->
  <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h2>Gallery</h2>
          </div>
        </div>
      </div>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="images/bluecat.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/beagle.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="images/guineapig.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

    
    
<div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p class="projectMessage">This is a college project</p>
        </div>
    </div>
</div>


</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
      const cartCount = sessionStorage.getItem('cartCount');
      let cart = document.getElementById('cartCount');
      cart.textContent = cartCount;
      
    </script>
  </body>
</html>