<!doctype html>
<html lang="en">
  <head>
    
  </head>
  <body>
    

    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h2>Shop</h2>
          </div>
        </div>
      </div>

    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h3>Trending</h3>
          </div>
        </div>
      </div>

      <div class="container">
      <div class="row">
        <!--add here-->
         

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card" id="leadClass">  
        <img src="images/dogLead.jpg" class="card-img-top" alt="blue dog lead">
       <div class="card-body" id="product1"></div>
         <!-- <div class="card-body">
          <h5 class="card-title" id="product1Name"></h5>
          <p class="card-text" id="product1Desc1"></p>
          <p id="product1Desc2"></p>
          <p id="product1Price">€</p>-->
          <a href="#" id="dogLeadBtn" class="btn btn-primary">Add to cart</a>
          </div>
        </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogBowl.jpg" class="card-img-top" alt="silver dog food bowl">
          <div class="card-body" id="product2"></div>
          <!--<h5 class="card-title">Dog Food Bowl</h5>
          <p class="card-text">Silver dog food bowl</p>
          <p>Made from stainless steel</p>
          <p>€4.95</p>-->
          <a href="#" id="dogBowlBtn" class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/scratchingPost.jpg" class="card-img-top" alt="cat scratching post in the shape of a flower">
          <div class="card-body" id="product3"></div>
          <!--<h5 class="card-title">Cat Scratching Post</h5>
          <p class="card-text">Pretty pink cat scratching post</p>
          <p>70cm tall</p>
          <p>€15.99</p>-->
          <a href="#" id="scratchingPostBtn" class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>
      </div>
      </div>

    
    <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h3>Our Products</h3>
          </div>
        </div>
      </div>

      
      <div class="container">
      <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/toyMouse.png" class="card-img-top" alt="Wind up toy mouse for cat to chase">
          <div class="card-body" id="product4"></div>
          <!--<h5 class="card-title">Cat Toy</h5>
          <p class="card-text">Wind up toy mouse</p>
          <p>Wind it up and watch your cat get hours of fun</p>
          <p>€4.00</p>-->
          <a href="#" id="catToyBtn" class="btn btn-primary">Add to cart</a>
         
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/catBowl.jpg" class="card-img-top" alt="White and black ceramic food bowl in the shape of a cat's face">
          <div class="card-body" id="product5"></div>
          <!--<h5 class="card-title">Cat Food Bowl</h5>
          <p class="card-text">Cat food bowl</p>
          <p>Suitable for cats of all ages</p>
          <p>€3.95</p>-->
          <a href="#" id="catBowlBtn" class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogToy.png" class="card-img-top" alt="Rope dog toy">
          <div class="card-body" id="product6"></div>
          <!--<h5 class="card-title">Dog Toy</h5>
          <p class="card-text">Rope dog toy</p>
          <p>Perfect for tug of war</p>
          <p>€7.50</p>-->
          <a href="#" id="dogToyBtn" class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>
      </div>
      </div>

      
      <div class="container">
      <div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogLead.jpg" class="card-img-top" alt="blue dog lead">
          <div class="card-body" id="product7"></div>
          <!--<h5 class="card-title">Dog Lead</h5>
          <p class="card-text">Blue dog lead</p>
          <p>One size fits all</p>
          <p>€5.00</p>-->
          <a href="#" id="dogLeadBtn2" class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/dogBowl.jpg" class="card-img-top" alt="silver dog food bowl">
          <div class="card-body" id="product8"></div>
          <!--<h5 class="card-title">Dog Food Bowl</h5>
          <p class="card-text">Silver dog food bowl</p>
          <p>Made from stainless steel </p>
          <p>€4.95</p>-->
          <a href="#" id="dogBowlBtn2" class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>

      
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/scratchingPost.jpg" class="card-img-top" alt="cat scratching post in the shape of a flower">
          <div class="card-body" id="product9"></div>
          <!--<h5 class="card-title">Cat Scratching Post</h5>
          <p class="card-text">Pretty pink cat scratching post</p>
          <p>70cm tall</p>
          <p>€15.99</p>-->
          <a href="#" id="scratchingPostBtn2" class="btn btn-primary">Add to cart</a>
          
        </div>
      </div>
      </div>
      </div>





     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script>
  let cart = document.getElementById('cartCount');
  let count = document.getElementById('cartCount').textContent;
  let cartValue = parseInt(count, 10);
  
      

const lead = document.getElementById('dogLeadBtn');
const dogBowl = document.getElementById('dogBowlBtn');
const scratchPost = document.getElementById('scratchingPostBtn');
const catToy = document.getElementById('catToyBtn');
const catBowl = document.getElementById('catBowlBtn');
const dogToy = document.getElementById('dogToyBtn');
const lead2 = document.getElementById('dogLeadBtn2');
const dogBowl2 = document.getElementById('dogBowlBtn2');
const scratchPost2 = document.getElementById('scratchingPostBtn2');
const data = new Array();

(function(){
  setJSON();
lead.addEventListener('click', addToCart);
dogBowl.addEventListener('click', addToCart);
scratchPost.addEventListener('click', addToCart);
catToy.addEventListener('click', addToCart);
catBowl.addEventListener('click', addToCart);
dogToy.addEventListener('click', addToCart);


lead2.addEventListener('click', addToCart);

dogBowl2.addEventListener('click', addToCart);

scratchPost2.addEventListener('click', addToCart);
}
)();
//Functions
function addToCart(buttonID){
  cartValue++;
  cart.textContent = cartValue;
  sessionStorage.setItem('cartCount', cartValue);
  //addToArray(buttonID)
}

function productDetailsJSON(){
            var data = {
                "email":email.value,
                "firstName":firstName.value,
                "lastName":lastName.value,
                "address1":address1.value,
                "address2":address2.value,
                "address3":address3.value

            }
            
            const json = JSON.stringify(data);
            console.log(json);

            localStorage.setItem('form', json);
            window.location.href = "checkout.hbs";
        }

        //const productData;

        //window.addEventListener("load", () => {
          //fetch("products.json")
          //.then(res => res.json())
          //.then(data => productData = data)
          //.catch(err => console.log(err));

        //});

        //function loadProducts(){
          //const json = localStorage.getItem("products.json");
          //const obj = JSON.parse(json); 
          //const jsonData = products.json;
        //}
        
        function setJSON(){
          const productsArray = 
          {
    "products":
    [
        {
            "id": "product1",
            "name": "Dog Lead",
            "description1": "Blue dog lead",
            "description2": "One size fits all",
            "price": 5
        

        },
        {
            "id": "product2",
            "name": "Dog Food Bowl",
            "description1": "Silver dog food bowl",
            "description2": "Made from stainless steel",
            "price": 4.95
        },
        {
            "id": "product3",
            "name": "Cat Scratching Post",
            "description1": "Pretty pink cat scratching post",
            "description2": "70cm tall",
            "price": 15.99
        },
        {
            "id": "product4",
            "name": "Cat Toy",
            "description1": "Wind up toy mouse",
            "description2": "Wind it up and watch your cat get hours of fun",
            "price": 4
            
        },
        {
            "id": "product5",
            "name": "Cat Food Bowl",
            "description1": "Cat food bowl in the shape of a cat's face",
            "description2": "Suitable for cats of all ages",
            "price": 3.95
        },
        {
            "id": "product6",
            "name": "Dog Toy",
            "description1": "Rope dog toy",
            "description2": "Perfect for tug of war",
            "price": 7.50
        }
]
    }

    localStorage.setItem("products", JSON.stringify(productsArray));


    getJSON();
        }

        function getJSON(){
          const divOne = document.getElementById('product1');
          const divTwo = document.getElementById('product2');
          const divThree = document.getElementById('product3');
          const divFour = document.getElementById('product4');
          const divFive = document.getElementById('product5');
          const divSix = document.getElementById('product6');
          const divSeven = document.getElementById('product7');
          const divEight = document.getElementById('product8');
          const divNine = document.getElementById('product9');

          //const productCard = document.createElement('div');
          //productCard.setAttribute('class', 'card');
          const json = localStorage.getItem('products');
          const obj = JSON.parse(json); 
          const productsArray = obj.products;

          const name1 = document.createElement('h5');
          name1.innerHTML = productsArray[0].name;
          const desc1 = document.createElement('p');
          desc1.innerHTML =  productsArray[0].description1;
          const desc2 = document.createElement('p');
          desc2.innerHTML =  productsArray[0].description2;
          const price = document.createElement('p');
          price.innerHTML = "€" + productsArray[0].price;

          const nameTwo = document.createElement('h5');
          nameTwo.innerHTML = productsArray[1].name;
          const descTwo1 = document.createElement('p');
          descTwo1.innerHTML =  productsArray[1].description1;
          const descTwo2 = document.createElement('p');
          descTwo2.innerHTML =  productsArray[1].description2;
          const priceTwo = document.createElement('p');
          priceTwo.innerHTML = "€" + productsArray[1].price;

          const nameThree = document.createElement('h5');
          nameThree.innerHTML = productsArray[2].name;
          const descThree1 = document.createElement('p');
          descThree1.innerHTML =  productsArray[2].description1;
          const descThree2 = document.createElement('p');
          descThree2.innerHTML =  productsArray[2].description2;
          const priceThree = document.createElement('p');
          priceThree.innerHTML = "€" + productsArray[2].price;

          const nameFour = document.createElement('h5');
          nameFour.innerHTML = productsArray[3].name;
          const descFour1 = document.createElement('p');
          descFour1.innerHTML =  productsArray[3].description1;
          const descFour2 = document.createElement('p');
          descFour2.innerHTML =  productsArray[3].description2;
          const priceFour = document.createElement('p');
          priceFour.innerHTML = "€" + productsArray[3].price;

          const nameFive = document.createElement('h5');
          nameFive.innerHTML = productsArray[4].name;
          const descFive1 = document.createElement('p');
          descFive1.innerHTML =  productsArray[4].description1;
          const descFive2 = document.createElement('p');
          descFive2.innerHTML =  productsArray[4].description2;
          const priceFive = document.createElement('p');
          priceFive.innerHTML = "€" + productsArray[4].price;

          const nameSix = document.createElement('h5');
          nameSix.innerHTML = productsArray[5].name;
          const descSix1 = document.createElement('p');
          descSix1.innerHTML =  productsArray[5].description1;
          const descSix2 = document.createElement('p');
          descSix2.innerHTML =  productsArray[5].description2;
          const priceSix = document.createElement('p');
          priceSix.innerHTML = "€" + productsArray[5].price;



         // productsArray.forEach(product =>{
           // const cardOuter = document.createElement('div');
            //cardOuter.setAttribute("class", "col-md-6 col-lg-4 d-flex align-items-stretch");
            //const card = document.createElement('div');
            //cardOuter.setAttribute("class", "card");
            


            //const name = document.createElement('h5');
            //name.innerHTML = product.name;
            //const desc1 = document.createElement('p');
            //desc1.innerHTML =  product.description1;
            //const desc2 = document.createElement('p');
            //desc2.innerHTML =  product.description2;
            //const price = document.createElement('p');
            //price.innerHTML = "€" + product.price;

            //card.appendChild(name);
            //card.appendChild(desc1);
            //card.appendChild(desc2);
            //card.appendChild(price);

            //cardOuter.appendChild(card);
            //containerDiv.appendChild(cardOuter);



            //productCard.appendChild(heading);
            //productCard.appendChild(desc1);
            //productCard.appendChild(desc2);
            //productCard.appendChild(price);
           
         // })

            divOne.appendChild(name1);
            divOne.appendChild(desc1);
            divOne.appendChild(desc2);
            divOne.appendChild(price);

            divTwo.appendChild(nameTwo);
            divTwo.appendChild(descTwo1);
            divTwo.appendChild(descTwo2);
            divTwo.appendChild(priceTwo);

             divThree.appendChild(nameThree);
            divThree.appendChild(descThree1);
            divThree.appendChild(descThree2);
            divThree.appendChild(priceThree);
            
            divFour.appendChild(nameFour);
            divFour.appendChild(descFour1);
            divFour.appendChild(descFour2);
            divFour.appendChild(priceFour);

            divFive.appendChild(nameFive);
            divFive.appendChild(descFive1);
            divFive.appendChild(descFive2);
            divFive.appendChild(priceFive);

            divSix.appendChild(nameSix);
            divSix.appendChild(descSix1);
            divSix.appendChild(descSix2);
            divSix.appendChild(priceSix);

            divSeven.appendChild(name1);
            divSeven.appendChild(desc1);
            divSeven.appendChild(desc2);
            divSeven.appendChild(price);

            divEight.appendChild(nameTwo);
            divEight.appendChild(descTwo1);
            divEight.appendChild(descTwo2);
            divEight.appendChild(priceTwo);

             divNine.appendChild(nameThree);
            divNine.appendChild(descThree1);
            divNine.appendChild(descThree2);
            divNine.appendChild(priceThree);
        }

        function moveToBasket(productID){
          const json = localStorage.getItem('products');
          const obj = JSON.parse(json); 
          const productsArray = obj.products;

          for(let i = 0; i < 6; i++){
            if (productID == productsArray[i].id){
              //console.log(productsArray[i].name);

              data.push(productsArray[i]);

              //console.log(data);

              const json = JSON.stringify(data);
              console.log(json);

            sessionStorage.setItem('productInCart', json);
            }
          }

        }

        
        lead.addEventListener('click', () => moveToBasket("product1"));
        dogBowl.addEventListener('click', () => moveToBasket("product2"));
        scratchPost.addEventListener('click', () => moveToBasket("product3"));
        catToy.addEventListener('click', () => moveToBasket("product4"));
        catBowl.addEventListener('click', () => moveToBasket("product5"));
        dogToy.addEventListener('click', () => moveToBasket("product6"));
        lead2.addEventListener('click', () => moveToBasket("product1"));
        dogBowl2.addEventListener('click', () => moveToBasket("product2"));
        scratchPost2.addEventListener('click', () => moveToBasket("product3"));



     </script>
  </body>
</html>