<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <style>
        table{
    width:80%;
    margin-right: 10%;
    margin-left: 10%;
    border: 2px solid darkorange;
    border-collapse: collapse;
    font-size: medium;
    text-align: center;
    vertical-align: middle;
    padding: 2px;
    margin-top: 25px;
    margin-bottom: 30px;
    background-color: white;
}

th, td {
    border: 2px solid darkorange;
    text-align: center;
    padding: 8px;

}

    </style>
</head>
  <body>
     

    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12">
            <a class="internalLink" href="#statistics">Go to 2020-2024 Adoption Report</a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row justify-content-start">
        <div class="col-4">
          <h2>Successful Adoptions</h2>
        </div>
    </div>
    </div>

<div class="container">
<div class="row">
      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/womanwithcat.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Clara and Max</h5>
          <p class="card-text">
                Pet adoption is the process of transferring responsibility for a pet that was previously owned by another party. Common sources for adoptable pets are animal shelters, rescue groups, or other pet owners. Some organizations give adopters ownership of the pet, while others use a guardianship model wherein the organization retains some control over the animal's future use or care.

                Online pet adoption sites have databases, searchable by the public, of pets being housed by thousands of animal shelters and rescue groups.
                To help lower the number of animals euthanized each year, some shelters have developed a no-kill policy. Best Friends Animal Society is the largest no-kill shelter in the United States who adopts policies such as "Save Them All".[4] This shelter and many others strive to keep their animals as long as it takes to find them new homes. City shelters and government-funded shelters rarely have this policy because of the large number of animals they receive.[citation needed]</p>
          <a href="#" class="btn btn-primary" href="https://en.wikipedia.org/wiki/Pet_adoption">Click here to read the full story!</a>
          </div>
        </div>
      </div>
   

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/womanwithrabbit.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Anna and Penelope</h5>
          <p class="card-text"> Animals are placed up for adoption for numerous reasons like being abandoned, lost, or rehomed from their current family. The need for rehoming sometimes results from allergies, death of a pet-owner, divorce, the birth of a baby, or relocation. Additionally, adoption mayweather, and traffic and enter adoption shelters in need of medical attention before entering the adoption process. After medical examinations, treatments, and behavioral tests, adoption centers (at their discretion) determine if the pet is healthy enough for adoption.[1]
                Physical appearance, behavior, and health of the dog play crucial roles in the pet adoption decision-making process, with many adopters prioritizing appearance over health. Social influences, such as breed popularity trends, and demographic factors, including household size and the presence of children, significantly affect the likelihood of dog ownership. Additionally, prior experience with dogs is a strong predictor of future dog adoption. Understanding these factors can help develop strategies to encourage responsible adoption practices and reduce the rates of dog relinquishment to shelters</p>
          <a href="#" class="btn btn-primary" href="https://en.wikipedia.org/wiki/Pet_adoption">Click here to read the full story!</a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
        <div class="card">
        <img src="images/manwithterrier.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Harry and Rocky</h5>
          <p class="card-text">Animals are placed up for adoption for numerous reasons like being abandoned, lost, or rehomed from their current family. The need for rehoming sometimes results from allergies, death of a pet-owner, divorce, the birth of a baby, or relocation. Additionally, adoption mayweather, and traffic and enter adoption shelters in need of medical attention before entering the adoption process. After medical examinations, treatments, and behavioral tests, adoption centers (at their discretion) determine if the pet is healthy enough for adoption.[1]
                Physical appearance, behavior, and health of the dog play crucial roles in the pet adoption decision-making process, with many adopters prioritizing appearance over health. Social influences, such as breed popularity trends, and demographic factors, including household size and the presence of children, significantly affect the likelihood of dog ownership. Additionally, prior experience with dogs is a strong predictor of future dog adoption. Understanding these factors can help develop strategies to encourage responsible adoption practices and reduce the rates of dog relinquishment to shelters</p>
          <a href="#" class="btn btn-primary" href="https://en.wikipedia.org/wiki/Pet_adoption">Click here to read the full story!</a>
          </div>
        </div>
      </div> 
    </div>

    <div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>2020-2024 Adoption Report</h2>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row justify-content-center">
            <table id="statistics">
                <thead>
                    <tr>
                        <th><!-- Blank --></th>
                        <th>2019</th>
                        <th>2020</th>
                        <th>2021</th>
                        <th>2022</th>
                        <th>2023</th>
                        <th>2024</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Animals Rescued</th>
                        <th>15</th>
                        <th>10</th>
                        <th>23</th>
                        <th>32</th>
                        <th>27</th>
                        <th>14</th>
                    </tr>
                    <tr>
                        <th>Animals Surrendered</th>
                        <th>5</th>
                        <th>33</th>
                        <th>12</th>
                        <th>18</th>
                        <th>26</th>
                        <th>27</th>
                    </tr>
                    <tr>
                        <th>Animals Adopted</th>
                        <th>18</th>
                        <th>37</th>
                        <th>28</th>
                        <th>25</th>
                        <th>44</th>
                        <th>40</th>
                    </tr>
                    <tr>
                        <th>Animals Returned</th>
                        <th>1</th>
                        <th>3</th>
                        <th>2</th>
                        <th>5</th>
                        <th>1</th>
                        <th>0</th>
                    </tr>
                    <tr>
                        <th>Animals Euthanised</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                        <th>0</th>
                    </tr>




                </tbody>
            </table>
           
    </div>
  </div>
</div>

<div class="container text-center">
      <div class="row justify-content-center">
        <div class="col-12">
            <a class="internalLink" href="#top">Go to Success Stories</a>
        </div>
      </div>
    </div>

</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>